<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mazy.capitalwatersupplycustomer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mazy.capitalwatersupplycustomer.AboutUsActivity"></activity>
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.OrdersActivity" />
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.OrderFormActivity" />
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.ForgotPasswordActivity" />
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.SignInActivity" />
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.SignUpActivity" />
        <activity
            android:name="com.mazy.capitalwatersupplycustomer.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mazy.capitalwatersupplycustomer.activities.MainActivity" />
    </application>

</manifest>